.detail-panel {
    --detail-width: 0;
    width: var(--detail-width);
    border-left: 1px solid #dddddd;
    transition: width 0.2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-panel .footer {
    width: 100%;
    border-top: 1px solid #dddddd;
    height: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-panel .footer .cancel-btn, .detail-panel .footer .save-btn {
    width: 80px;
    height: 30px;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #f0f0f0;
    border-radius: 3px;
    margin: 0 5px;
}

.detail-panel .footer .cancel-btn {
    color: rgba(0, 0, 0, 0.5);
}

.detail-panel .footer .save-btn {
    color: #fff;
    background-color: #018eb9;
    border: 1px solid #018eb9;
    transition: all 0.2s ease-out;
}

.detail-panel .footer .save-btn:hover {
    background-color: #00abdf;
    border: 1px solid #00abdf;
    transition: all 0.2s ease-in;
}

.detailform {
    width: 100%;
    height: 95%;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}