.listviewitem {
    width: 98%;
    padding: 2px 1%;
    height: 45px;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-weight: 400;
}


.listviewitem:hover {
    border-bottom: 1px solid #19A2D3;
    background-color: rgb(245, 245, 245);
    transition: all 0.2s ease-in;
} 

.listviewitem div {
    color: rgba(0, 0, 0, 0.60);
}

.listviewitem:hover {
    color: rgba(0, 0, 0, 0.705);
}

.listviewitem div:not(:first-child) {
    width: 14.25%;
    text-align: center;
}

.listviewitem div:first-child {
    width: 35%;
}
