.listviewitem {
    padding: .2rem 1rem;
    height: 28px;
    display: flex;
    font-size: 0.86rem;
    justify-content: space-between;
    text-transform: capitalize;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-weight: 400;
}

.listviewitem:hover {
    border-bottom: 1px solid #19A2D3;
    background-color: rgba(201, 201, 201, 0.123);
    transition: all 0.2s ease-in;
} 

.listviewitem div {
    color: rgba(0, 0, 0, 0.804);
}

.listviewitem div:not(:first-child) {
    width: 10.25%;
    text-align: left;
}

.listviewitem div:first-child {
    width: 32%;
    overflow: hidden;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(0, 119, 255);
}

.listviewitem:last-child {
    border-bottom: none;
}
