.main-nav {
    width: 100%;
    height: 55px;
    color: #033443;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 0 3 4 #e0dfdf;
}

.main-nav_content {
    height: 100%;
    width: 95%;
    display: flex;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo h3 {
    margin-left: 0.2rem;
}
