.listview {
    max-height: 1120px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    color: rgba(0, 0, 0, 0.700);
}

.listview header {
    padding: 2rem;
    border-bottom: 1px solid #d4d4d4;
}

.search-newtask {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d4d4d4;
    padding: 2rem;
}

.search-wrapper {
    width: 20rem;
    height: 22px;
    display: flex;
}

.search-newtask button {
    width: 40px;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 3px;
    background-color: #3ba30f;
    border: 1px solid #3ba30f;
    transition: all 0.2s ease-out;
}

.master-detail {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.master {
    --master-width: 100;
    width: var();
    overflow-y: scroll;
    height: 900px;
}

.search-newtask button:hover {
    background-color: #57CC24;
    border: 1px solid #57CC24;
    transition: all 0.2s ease-in;
}

.listview-item-content {
    width: 100%;
    max-width: 900px;
    overflow-y: scroll;
}

.list-header {
    display: flex;
    padding: 15px 1%;
    color: rgba(0, 0, 0, 0.70);
    font-weight: bold;
    text-align: left;
    flex-direction: row;
    border-bottom: 1px solid #d4d4d4;
    justify-content: space-evenly;
}

.list-header div {
    width: 14.25%;
}

.list-header div:nth-child(1) {
    cursor: pointer;
}

.list-header div:not(:first-child) {
    text-align: center;
}

.list-header div:first-child {
    width : 35%; 
}