.taskform {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #ffffff;
}

.col-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-one {
    width: 100%;
}

.taskform .col-left, .taskform .col-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
} 

.taskform .col-left {
    width: 45%;
    justify-content: flex-start;
}

.taskform .col-right {
    width: 45%;
    justify-content: flex-end;
}

.taskform .col-left p, 
.taskform .col-right p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 0.9rem;
}

.taskform .col-left input[type=text], 
.taskform .col-right input[type=text] {
    height: 24px;
    outline: none;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    text-indent: 0.3rem;
    font-size: 0.9rem;
    border-radius: 3px;
    border: 1px solid #c7c5c5;
    transition: all 0.2s ease-out;
}

select {
    width: 100%;
    padding: 0.4rem 0.2rem;
    margin: 0.2rem 0;
}

