.textarea-wrapper {
    width: 100%;
    position: relative;
}


.textarea-wrapper .textarea {
    width: 95%;
    height: 150px;
    max-height: 250px;
    padding: 0 2.5%;
    padding-top: 1rem;
    margin-top: 4rem;
    overflow-y: scroll;
    border: 1px solid #cccccc;
}

.textarea-wrapper .textarea:hover {
    border: 1px solid rgb(0, 162, 255);
}


.textarea ol, .textarea ul {
    padding-left: 2.5rem;
}

.textarea-wrapper .name   {
    margin-bottom: 0.5rem;
}

.textarea-wrapper .control {
    width: 98%;
    padding: 1% 0.75%;
    height: 25px;
    margin: 12px auto;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    top: 3.5rem;
}

.textarea-wrapper .control:hover {
    border: 1px solid rgb(0, 162, 255);
}

.textarea-wrapper .control .iconwrapper {
    width: 15px;
    height: 15px;
    display: flex;
    cursor: pointer;
}

.textarea-wrapper .control .iconwrapper .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.textarea-wrapper input[type=color] {
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
    outline: none;
    background: #fff;
    position: absolute;
    cursor: pointer;
    bottom: 7px;
}
